/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-feature-settings: "pnum" on, "lnum" on;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: $primary-dark;
  -webkit-text-stroke-width: thin;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

.hidden {
  display: none !important;
}

.margin-btm-1 {
  margin: 0 0 1rem 0;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.text {
  font-family: "Raleway";
}

.number {
  font-family: "Roboto";
}

.layout {
  display: flex;
  flex-direction: row;
  /* position: relative; */
}

.main-container {
  background: linear-gradient(91.36deg, $background-light-accent-primary 0%, #e6e8ef 100%);
  /* out */
  box-shadow: 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 10px;
}

.divider-vert {
  height: auto;
  width: 0.5rem;
  background: linear-gradient(
      138.32deg,
      rgba(0, 0, 0, 0.5) 8.26%,
      rgba(255, 255, 255, 0.5) 91.02%
    ),
    #eaecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: inset -1px -1px 2px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 5px;
}
.divider-hor {
  width: auto;
  height: 0.5rem;
  background: linear-gradient(
      138.32deg,
      rgba(0, 0, 0, 0.5) 8.26%,
      rgba(255, 255, 255, 0.5) 91.02%
    ),
    #eaecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: inset -1px -1px 2px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 5px;
}

.card-container {
  /* Fill Container */
  background: $background-light-secondary;
  /* container effect */
  box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff,
    4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 10px;
  margin: 1rem 0;
}
.card-primary {
  /* Fill Container */
  background: $background-light-secondary;
  /* container effect */
  box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff,
    4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 10px;
}

.card-inside {
  background: $background-light;
  /* inner-flat */
  box-shadow: inset -3px -3px 4px #f9fcff, inset 3px 3px 3px #aeb8c0;
  border-radius: 0px 0px 10px 10px;
}

.card-secondary {
  background: $background-light;
  /* outer.effect */
  box-shadow: -5px -5px 8px #f2f4f8, 5px 5px 7px rgba(174, 174, 192, 0.5);
  border-radius: 10px;
}

.no-user {
  position: relative;
  background: $background-light;
  // height: 100vh;
  height: -webkit-fill-available;
  width: 100vw;
  transition: all 0.5s ease;
  overflow-y: auto;
}

.main-section {
  position: relative;
  background: $background-light;
  height: 100vh;
  // height: -webkit-fill-available;
  left: 15rem; /* 240px */
  width: calc(100% - 15rem);
  transition: all 0.5s ease;
  padding: 12px;
  overflow-y: auto;
  overflow-x: hidden;  
}

.main-content {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.main-section .main-content .bx-menu,
.main-section .main-content .text {
  color: #11101d;
  font-size: 35px;
}
.main-section .main-content .bx-menu {
  cursor: pointer;
  margin-right: 10px;
}
.main-section .main-content .text {
  font-size: 26px;
  font-weight: 600;
}

.page-title {
  display: flex;
  justify-content: center;
  width: 100%;
  color: $primary-dark;
}

/* Styles for Login, Register and Forgot Pass forms */
.auth-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  width: 30vw;
  padding: 18px;
  background-color: #f2f2f2;
  margin: 8rem auto;
}

.auth-form-text {
  text-align: center;
}

.card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  flex-direction: column;
}

.btn-auth-form {
  margin: 1rem;
  width: 50%;
  align-self: center;
}

/**
* Divider CSS
*/
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid #000;
}

.divider:not(:empty)::before {
  margin-right: 0.25em;
}

.divider:not(:empty)::after {
  margin-left: 0.25em;
}

.arrow-blue {
  color: $primary-light;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  margin: 1rem 1rem;
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  background: $background-light;
  border-radius: 10px;
  box-shadow: inset 0 0 5px $background-light;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-dark;
}

/* Dark Mode */

body.dark-mode {
  .main-section {
    background: $background-dark;
  }
  .no-user {
    background: $background-dark;
  }
  .card-primary {
    background: $background-dark;
    box-shadow: $dark-box-shadow-card;
  }
  .card-secondary {
    background: $background-dark-accent-primary;
    box-shadow: $dark-box-shadow-card;
  }

  .page-title {
    color: $font-dark-primary;
  }

  .divider-hor,
  .divider-vert {
    background: $background-dark-accent-secondary;
    box-shadow: inset -1px -1px 2px $background-dark-accent-primary, inset 1px 1px 2px $background-dark;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
  ::-webkit-scrollbar-track {
    background: $font-dark-primary;
    box-shadow: inset 0 0 5px $grey;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $background-dark-accent-primary;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $background-dark-accent-secondary;
  }
}

/* MEDIA QUERIES */
@media print
{    
  .no-print, .no-print * {
    display: none !important;
  }
  .card-primary {
    background: $background-dark;
    box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff,
      4px 4px 20px rgba(111, 140, 176, 0.41) !important;
  }
  /* body.dark-mode {
  } */
}

/* MEDIA */
@media screen {
  .main-section {
    left: 15rem; /* 240px */
    width: calc(100% - 15rem);
  }
  .sidebar.close ~ .main-section {
    left: 4.875rem; /* 78px */
    width: calc(100% - 4.875rem);
  }
}

@media (max-width: $md) {
  body {
    overflow-y: auto;
  }
  .main-section {
    left: 0rem;
    top: 50px;
    width: 100%;
  }
  
  .sidebar.close ~ .main-section {
    left: 0rem;
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .main-section {
    left: 4.875rem; /* 78px */
    width: calc(100% - 4.875rem);
  }

  .sidebar.close ~ .main-section {
    left: 4.875rem; /* 78px */
    width: calc(100% - 4.875rem);
  }
}