* {
  font-family: 'Poppins', sans-serif;
}

.layout {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 40%;
}
:where(.sidebar > *) {
  display: inline-flex;
  align-items: center;
}
.sidebar-start {
  justify-content: flex-start;
}
.sidebar-center {
  flex-shrink: 0;
}
.sidebar-end {
  flex-direction: column;
  justify-content: flex-end;
}

.sidebar-logo {
  height: 2rem;
  margin-left: 1rem; /* 16px */
  margin-right: 1rem; /* 16px */
}

.sidebar-text {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  text-transform: none;
}

.avatar {
  position: relative;
  display: inline-flex
}
.avatar > div {
  display: block;
  aspect-ratio: 1 / 1;
  overflow: hidden
}
.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover
}
.avatar.placeholder > div {
  display: flex;
  align-items: center;
  justify-content: center
}

.main-content {
  width: 100%;
}

.sidebar-content {
  height: 100vh;
}

/* Styles for Login, Register and Forgot Pass forms */
.auth-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  width: 30vw;
  padding: 18px;
  background-color: #f2f2f2;
  margin: 8rem auto;
}

.auth-form-text {
  text-align: center;
}

.card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  flex-direction: column
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-auth-form {
  margin: 1rem;
  width: 50%;
  align-self: center;
}

.form-control {
  display: flex;
  flex-direction: column
}

.label {
  display: flex;
  -webkit-user-select: none;
          user-select: none;
  align-items: center;
  justify-content: space-between
}

.label-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input {
  flex-shrink: 1;
  height: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 2;
}