* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0px;
}

.layout {
  display: flex;
  flex-direction: row;
  /* position: relative; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-height: 100vh;
  background-color: #f2f2f2;
  /* position:absolute; */
  /* position: fixed; */
}

.main-content {
  width: 80vw;
  height: 100vh;
  /* position:absolute; */
  /* position: relative; */
}

/* Styles for Login, Register and Forgot Pass forms */
.auth-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  width: 30vw;
  padding: 18px;
  background-color: #f2f2f2;
  margin: 8rem auto;
}

.auth-form-text {
  text-align: center;
}

.card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  flex-direction: column
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-auth-form {
  margin: 1rem;
  width: 50%;
  align-self: center;
}