:root {
  /* primary */
  --primary-dark: #001650;
  --primary-light: #0558EE;
  --primary-accent-dark: #38B6FF;
  --primary-accent-light: #B8D6F6;
  /* secondary */
  --secondary-dark: #00990F;
  --secondary-light: #00BD58;
  --secondary-accent: #00FF85;
  /* colors */
  --grey: #8B9EB0;
  --orange: #fd9053;
  --red: #c40000; 
  --green: #00c48c;
  /* theme light*/
  --background-light: #E9EDF0;
  --background-light-secondary: #F3F3F3;
  --background-light-accent-primary: #EFEEF5;
  --background-light-accent-secondary: #E6E9EF;
}
/* Variables and mixins declared here will be available in all other SCSS files */
/* Primary */
$primary-dark: #001650;
$primary-light: #0558EE;
$primary-accent-dark: #38B6FF;
$primary-accent-light: #B8D6F6;
/* Secondary */
$secondary-dark: #00990F;
$secondary-light: #00BD58;
$secondary-accent: #00FF85;
/* colors */
$grey: #8B9EB0;
$orange: #fd9053;
$red: #c40000;
$green: #00c48c;
/* theme light*/
$background-light: #E9EDF0;
$background-light-secondary: #F3F3F3;
$background-light-accent-primary: #EFEEF5;
$background-light-accent-secondary: #E6E9EF;
/* theme dark*/
// $background-dark: #e9edf0;
// $background-dark-secondary: #f3f3f3;
// $background-dark-accent-primary: #efeef5;
// $background-dark-accent-secondary: #e6e9ef;