:root {
  /* primary */
  --primary-dark: #154734;
  --primary-light: #006341;
  --primary-accent-dark: #43B02A;
  --primary-accent-light: #93DA49;
  /* secondary */
  --secondary-dark: #00785E;
  --secondary-light: #4DB59F;
  --secondary-accent: #27a58C;
  /* colors */
  --grey: #75787B;
  --orange: #FF9E1B;
  --red: #FF9E1B;
  --green: #00957A;
  /* theme light*/
  --background-light: #E9EDF0;
  --background-light-secondary: #F3F3F3;
  --background-light-accent-primary: #EFEEF5;
  --background-light-accent-secondary: #E6E9EF;
}

/* Variables and mixins declared here will be available in all other SCSS files */
/* Primary */
$primary-dark: #154734;
$primary-light: #006341;
$primary-accent-dark: #43B02A;
$primary-accent-light: #93DA49;
/* Secondary */
$secondary-dark: #00785E;
$secondary-light: #4DB59F;
$secondary-accent: #27a58C;
/* colors */
$grey: #75787B;
$orange: #FF9E1B;
$red: #FF9E1B;
$green: #00957A;
$error: #ff0000;
$error-light: #fd5353;
$success-light: #00c48c;
/* theme light*/
$background-light: #E9EDF0;
$background-light-secondary: #F3F3F3;
$background-light-accent-primary: #EFEEF5;
$background-light-accent-secondary: #E6E9EF;
/* theme dark*/
$dark: #121212;
$background-dark: #313131;
$background-dark-secondary: #383838;
$background-dark-accent-primary: #414141;
$background-dark-accent-secondary: #525252;
/* Fonts */
$font-light-primary: #113a62;
$font-dark-primary: #B3B3B3;

/* Shadows */
$dark-box-shadow-card: 10px 10px 14px #2a2a2a, -10px -10px 14px #383838;
$dark-box-shadow-btn: 10px 10px 14px #2a2a2a, -10px -10px 14px #383838;
$dark-box-shadow: 5px 5px 8px #101010, -5px -5px 6px #202020;

/* MEDIA */
$xs: 425px;
$sm: 520px;
$md: 768px;
$lg: 992px;
$xl: 1200px;